# This env file documents configuration for the API gateway container.
PORT=3000
AUTH_SERVICE_URL=http://auth-service:3001
REQUEST_SERVICE_URL=http://request-service:3002
PAYMENT_SERVICE_URL=http://payment-service:3003
INTENT_SERVICE_URL=http://intent-service:8000
OPENAPI_PATH=/usr/src/app/openapi.yml

