# This env file documents configuration for the Request service container.
PORT=3002
DATABASE_URL=postgresql://suvidha:password@localhost:5432/suvidha_db
RABBITMQ_URL=amqp://user:pass@localhost:5672

